body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

.navbar {
  background: #1e2a38;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.form-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
}


.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background: #0056b3;
}


.container {
  padding: 20px;
}

.search-box {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.books-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.books-table th, .books-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.books-table th {
  background: #1e2a38;
  color: white;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: bold;
}

.btn-small {
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-small:hover {
  background: #0056b3;
}

.disabled {
  background: gray;
  cursor: not-allowed;
}
