<!DOCTYPE html>
<<html>
<head>
  <title>Library System</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

  <div class="navbar">
    <h2>📚 Library System</h2>
    <div>
      <a href="index.html">Home</a>
      <a href="login.html">Login</a>
      <a href="register.html">Register</a>
      <a href="books.html">Books</a>
    </div>
  </div>

  <div class="hero">
    <h1>Welcome to Library Management System</h1>
    <p>Search, borrow, and manage books easily.</p>

    <button class="btn">Get Started</button>
  </div>

</body>
</html>>
